In [308]:
import pandas as pd
import numpy as np
import json

In [309]:
with open('Recursos/madeUsers.json', 'r') as fp:
    usuarios = json.load(fp)

In [310]:
peliculasDisponibles = pd.read_csv("Recursos/Consulta/Consulta.csv")
peliculas = list(sorted(list(peliculasDisponibles["Titulo"])))

In [311]:
# Creación del dataset para el caso de los usuarios
dataset = pd.DataFrame(columns=["Usuario"]+peliculas)

In [312]:
for usuario in usuarios:
    datAppend = {"Usuario":usuario}
    for pelicula in usuarios[usuario]:
        datAppend[pelicula] = usuarios[usuario][pelicula]
    dataset = dataset.append(datAppend,ignore_index=True)

C:\Users\Santiago\AppData\Local\Temp\ipykernel_17604\1771215706.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataset = dataset.append(datAppend,ignore_index=True)
C:\Users\Santiago\AppData\Local\Temp\ipykernel_17604\1771215706.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataset = dataset.append(datAppend,ignore_index=True)

In [313]:
dataset

,Usuario,12 Angry Men,42nd Street,A Fantastic Fear of Everything,A Gang Story,A Touch of Spice,Aftermath,Akele Hum Akele Tum,Alien Raiders,American Beauty,...,Titanic,To Die like a Man,Two Weeks in Another Town,V for Vendetta,Varudu,Wanted,We Live in Public,Wolfhound,Yor-yor,¿¡Revolución!?
0,a,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [314]:
dataset.loc[0].values[1:]

array([0, nan, 0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan], dtype=object)

In [315]:
rowUsuario

,Usuario,The Last Airbender,Eraserhead,Swept Away,Kick-Ass,12 Angry Men,Shaolin,July 14,Jaded,Citizen Kane,...,Seven Psychopaths,"Elisa, vida mía",Not Here to Be Loved,Argo,A Touch of Spice,Russian Ark,Pirates II: Stagnetti's Revenge,Gotcha!,Special Effects: Anything Can Happen,¿¡Revolución!?
1,Usuario1,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,3.0,4.0,NaN,2.0,NaN,4.0,1.0,NaN,NaN,4.0

In [316]:
# Para los casos mutuos
rowUsuario = dataset.loc[dataset["Usuario"] == "a"]

In [317]:
rowUsuario.values[0][1:]

array([0, nan, 0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan], dtype=object)

In [318]:
# Borrar la fila del dataset
dataset.drop(dataset[dataset["Usuario"] == "a"].index, inplace=True)
dataset.reset_index(inplace=True)

In [319]:
df = pd.DataFrame.from_dict({
    'Name': ['Nik', 'Kate', 'Evan', 'Kyra'],
    'Age': [31, 30, 40, 33],
    'Location': ['Toronto', 'London', 'Kingston', 'Hamilton']
})

In [320]:
df = df.append({'Name':'Jane', 'Age':25}, ignore_index=True)
df

C:\Users\Santiago\AppData\Local\Temp\ipykernel_17604\2726321217.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Name':'Jane', 'Age':25}, ignore_index=True)

   Name  Age  Location
0   Nik   31   Toronto
1  Kate   30    London
2  Evan   40  Kingston
3  Kyra   33  Hamilton
4  Jane   25       NaN

In [321]:
dataset = pd.read_csv("Recursos/Usuarios.csv")

In [322]:
# Seleccionamos la fila del usuario
usuario = "Usuario1"
rowUsuario = dataset.loc[dataset["Usuario"] == usuario]
# Borrar la fila del dataset
dataset.drop(dataset[dataset["Usuario"] == usuario].index, inplace=True)
dataset.reset_index(inplace=True)
dataset.drop('index',axis=1,inplace=True)

In [323]:
dataset.loc[0].values[1:]

array([9.0, nan, 3.0, 5.0, 7.0, nan, 2.0, 0.0, 9.0, 2.0, nan, nan, nan,
       3.0, nan, 10.0, nan, nan, 2.0, 0.0, 7.0, 4.0, 2.0, 1.0, nan, nan,
       nan, nan, 5.0, nan, nan, 1.0, nan, 7.0, nan, 0.0, 2.0, 9.0, 7.0,
       nan, 5.0, nan, 1.0, nan, 4.0, nan, nan, 9.0, 1.0, 2.0, 7.0, 5.0,
       7.0, nan, nan, nan, 8.0, nan, 9.0, nan, 1.0, 0.0, 0.0, nan, nan,
       nan, nan, nan, 1.0, nan, 6.0, nan, nan, nan, nan, nan, 8.0, 2.0,
       6.0, nan, 3.0, 7.0, 5.0, 9.0, 5.0, 3.0, 0.0, nan, 1.0, 7.0, 9.0,
       nan, nan, 1.0, nan, 5.0, nan, nan, 2.0, nan, 6.0, nan, 3.0, 5.0,
       0.0, 7.0, 5.0], dtype=object)

In [324]:
dataset

,Usuario,The Last Airbender,Eraserhead,Swept Away,Kick-Ass,12 Angry Men,Shaolin,July 14,Jaded,Citizen Kane,...,Seven Psychopaths,"Elisa, vida mía",Not Here to Be Loved,Argo,A Touch of Spice,Russian Ark,Pirates II: Stagnetti's Revenge,Gotcha!,Special Effects: Anything Can Happen,¿¡Revolución!?
0,Usuario0,9.0,NaN,3.0,5.0,7.0,NaN,2.0,0.0,9.0,...,NaN,2.0,NaN,6.0,NaN,3.0,5.0,0.0,7.0,5.0
1,Usuario2,7.0,NaN,NaN,NaN,2.0,10.0,2.0,NaN,NaN,...,NaN,2.0,NaN,6.0,10.0,6.0,NaN,10.0,NaN,4.0
2,Usuario3,4.0,0.0,8.0,9.0,NaN,7.0,4.0,NaN,2.0,...,NaN,NaN,6.0,4.0,6.0,1.0,NaN,NaN,0.0,10.0
3,Usuario4,NaN,9.0,NaN,NaN,0.0,NaN,3.0,2.0,7.0,...,7.0,10.0,NaN,NaN,10.0,5.0,1.0,NaN,1.0,NaN
4,Usuario5,4.0,NaN,NaN,NaN,4.0,0.0,9.0,1.0,5.0,...,7.0,1.0,1.0,9.0,NaN,NaN,NaN,3.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,Usuario295,NaN,1.0,9.0,8.0,NaN,0.0,NaN,6.0,1.0,...,NaN,2.0,7.0,NaN,3.0,NaN,NaN,9.0,NaN,4.0
295,Usuario296,2.0,NaN,5.0,6.0,7.0,NaN,2.0,NaN,NaN,...,2.0,NaN,1.0,NaN,5.0,NaN,7.0,8.0,7.0,5.0
296,Usuario297,5.0,NaN,NaN,5.0,4.0,6.0,2.0,NaN,NaN,...,10.0,5.0,9.0,NaN,8.0,3.0,NaN,NaN,0.0,NaN
297,Usuario298,9.0,5.0,NaN,NaN,7.0,NaN,4.0,2.0,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,0.0,1.0,NaN,7.0
298,Usuario299,4.0,5.0,0.0,4.0,NaN,9.0,NaN,NaN,2.0,...,7.0,5.0,5.0,8.0,8.0,NaN,10.0,NaN,8.0,5.0

In [325]:
def similitudUsuarios(usuarioRecomendar, usuario):
    distancia = np.array((usuarioRecomendar-usuario)**2,dtype=float)
    return sum(distancia[~np.isnan(distancia)])**0.5

In [326]:
def similitudMaker(row):
    return similitudUsuarios(rowUsuario.values[0][1:],row.values[1:])
dataset["Similitud"] = dataset.apply(lambda row:similitudMaker(row),axis=1)

In [327]:
def weightMatrix(datasetFuncion):
    return datasetFuncion.iloc[:,1:-1].multiply(datasetFuncion["Similitud"],axis="index")

In [328]:
datasetWeight = weightMatrix(dataset)

In [329]:
datasetWeight

,The Last Airbender,Eraserhead,Swept Away,Kick-Ass,12 Angry Men,Shaolin,July 14,Jaded,Citizen Kane,Aftermath,...,Seven Psychopaths,"Elisa, vida mía",Not Here to Be Loved,Argo,A Touch of Spice,Russian Ark,Pirates II: Stagnetti's Revenge,Gotcha!,Special Effects: Anything Can Happen,¿¡Revolución!?
0,254.080696,NaN,84.693565,141.155942,197.618319,NaN,56.462377,0.000000,254.080696,56.462377,...,NaN,56.462377,NaN,169.387131,NaN,84.693565,141.155942,0.000000,197.618319,141.155942
1,228.225765,NaN,NaN,NaN,65.207362,326.036808,65.207362,NaN,NaN,NaN,...,NaN,65.207362,NaN,195.622085,326.036808,195.622085,NaN,326.036808,NaN,130.414723
2,106.808239,0.000000,213.616479,240.318539,NaN,186.914419,106.808239,NaN,53.404120,26.702060,...,NaN,NaN,160.212359,106.808239,160.212359,26.702060,NaN,NaN,0.000000,267.020598
3,NaN,224.278844,NaN,NaN,0.000000,NaN,74.759615,49.839743,174.439101,NaN,...,174.439101,249.198716,NaN,NaN,249.198716,124.599358,24.919872,NaN,24.919872,NaN
4,120.266371,NaN,NaN,NaN,120.266371,0.000000,270.599335,30.066593,150.332964,240.532742,...,210.466149,30.066593,30.066593,270.599335,NaN,NaN,NaN,90.199778,NaN,120.266371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,NaN,30.773365,276.960286,246.186921,NaN,0.000000,NaN,184.640191,30.773365,61.546730,...,NaN,61.546730,215.413556,NaN,92.320095,NaN,NaN,276.960286,NaN,123.093460
295,56.533176,NaN,141.332940,169.599528,197.866116,NaN,56.533176,NaN,NaN,NaN,...,56.533176,NaN,28.266588,NaN,141.332940,NaN,197.866116,226.132704,197.866116,141.332940
296,125.299641,NaN,NaN,125.299641,100.239713,150.359569,50.119856,NaN,NaN,25.059928,...,250.599282,125.299641,225.539354,NaN,200.479425,75.179785,NaN,NaN,0.000000,NaN
297,210.684598,117.046999,NaN,NaN,163.865799,NaN,93.637599,46.818800,NaN,NaN,...,NaN,NaN,46.818800,NaN,NaN,NaN,0.000000,23.409400,NaN,163.865799
298,104.919016,131.148770,0.000000,104.919016,NaN,236.067787,NaN,NaN,52.459508,104.919016,...,183.608279,131.148770,131.148770,209.838033,209.838033,NaN,262.297541,NaN,209.838033,131.148770

In [330]:
wa = np.array(datasetWeight["Eraserhead"],dtype=float)
sum(wa[~np.isnan(wa)])

23596.77508160941

In [331]:
sumWeightRating = {pelicula:sum(np.array(datasetWeight[pelicula],dtype=float)[~np.isnan(np.array(datasetWeight[pelicula],dtype=float))]) for pelicula in datasetWeight.columns}

In [332]:
weightSum = {}
for pelicula in datasetWeight.columns:
    weightSum[pelicula] = sum(dataset[~dataset[pelicula].isna()]["Similitud"])

In [333]:
weightSum

{'The Last Airbender': 4479.556330115374,
 'Eraserhead': 4571.713367873078,
 'Swept Away': 4559.7979117816585,
 'Kick-Ass': 4734.594800355337,
 '12 Angry Men': 4787.957371529906,
 'Shaolin': 4690.66762193503,
 'July 14': 4983.66688780313,
 'Jaded': 4429.689159963626,
 'Citizen Kane': 4526.376441163293,
 'Aftermath': 4551.7142229989295,
 'The Last Winter': 5184.2338987774065,
 'The Haunted Castle': 5165.854908945027,
 'Monty Python’s Life of Brian': 4626.228796888479,
 "Monty Python's The Meaning of Life": 4882.898212948388,
 'Rio Rita': 4822.301391698089,
 'Brazil': 4517.270635356689,
 'The Ogre': 4736.183254387403,
 'Pay or Die': 4638.287901264363,
 'American Beauty': 4962.455411680419,
 'Inception': 4469.469938023033,
 'Gone with the Wind': 4656.228359163636,
 'The Man Between': 4977.182232220343,
 'Rough Night in Jericho': 4668.626074682294,
 'Alien Raiders': 4740.098655477812,
 'A Fantastic Fear of Everything': 4645.703901000473,
 "That's My Boy": 4747.941652619483,
 'Yor-yor': 4634.654154451848,
 'Cold Sweat': 4784.134467254645,
 'Red Sun': 4904.941289501708,
 'Domino': 4692.228019054567,
 'Be Like Others': 4976.364473081732,
 'Nothing like the Holidays': 4951.835710984396,
 'To Die like a Man': 4641.0573682625645,
 'Dead like Me: Life After Death': 4629.792822169878,
 'Wolfhound': 4684.199875365232,
 'People Like Us': 4524.938016312755,
 'Deathdream': 4633.007699401559,
 'Rear Window': 5056.563678788079,
 'The Manchurian Candidate': 4874.450165561241,
 'We Live in Public': 4336.006859117005,
 'Dazed and Confused': 4485.806070047374,
 'Cleopatra': 4757.6000348606285,
 'Wanted': 4763.899978616116,
 'Titanic': 4708.712663051995,
 '42nd Street': 5494.835042149896,
 'City Hall': 4266.675586485157,
 'Delirious': 4831.531335141059,
 'Mirageman': 4769.804454561659,
 'Race 2': 4582.550838943454,
 'Madigan': 4669.313464559575,
 "The Angels' Share": 4690.646335258415,
 'Matchstick Men': 4827.338095334695,
 'Carrie': 4690.526042357861,
 'Invasion of the Body Snatchers': 4623.251336403016,
 'Percy': 4773.93890349839,
 'Maximum Overdrive': 4702.886440314377,
 'Pirates of the Caribbean: The Curse of the Black Pearl': 4901.594685262291,
 'Plumíferos': 4411.152539619145,
 'Roadside Romeo': 4546.785788832288,
 'Scarface': 4744.993121526887,
 'Taxi Driver': 4774.993663340449,
 'Family Plot': 4710.772172674554,
 'Bloodbath at the House of Death': 4914.5551461636815,
 'The Oranges': 4850.136559491567,
 'Saturday Night Fever': 4602.3400196167395,
 'The Godfather': 4293.938328295996,
 'Marcellino': 4613.8407026260375,
 'Akele Hum Akele Tum': 5059.096204399941,
 'V for Vendetta': 4672.837883284115,
 'Masters of the Universe': 4519.139637577551,
 'Places in the Heart': 4806.5737822886895,
 'Mutiny on the Bounty': 4809.990522906876,
 'Two Weeks in Another Town': 4980.225674084288,
 "Hachi: A Dog's Tale": 4535.664595013046,
 'A Gang Story': 4774.186739496238,
 'Arsenic and Old Lace': 4570.130046481105,
 'Johnny Guitar': 4813.393887150591,
 'The Mortal Instruments: City of Bones': 4441.994545083372,
 'Barbara Frietchie': 4618.109304794598,
 'Endangered Species': 4311.187454156864,
 'Sex Is Comedy': 4811.910030233739,
 'Heading South': 4677.424705876157,
 'Three Seasons': 4611.096317229774,
 'Varudu': 4861.703730546241,
 'Stash House': 4692.855418077179,
 'The Intouchables': 4425.568735878615,
 'The Escort': 4819.98611993363,
 'Small Cuts': 4652.34572991753,
 'Fat Girl': 4583.983232750463,
 'The Pleasure Is All Mine': 4974.265162369272,
 'Anatomy of Hell': 4685.076964536154,
 'Planet of the Apes': 4630.523836427124,
 'Son of the Bride': 4494.106726343323,
 'The Upside of Anger': 4804.606168668794,
 'Tell No One': 4683.569775722357,
 'In the Cut': 4598.7910053206815,
 'Mr. Deeds': 4407.439213916672,
 'Seven Psychopaths': 4428.806641970441,
 'Elisa, vida mía': 5066.280757021522,
 'Not Here to Be Loved': 4545.077907798117,
 'Argo': 4485.16187870522,
 'A Touch of Spice': 5086.737564332799,
 'Russian Ark': 4624.456043909192,
 "Pirates II: Stagnetti's Revenge": 4668.344726578004,
 'Gotcha!': 4617.325612796338,
 'Special Effects: Anything Can Happen': 4575.906336046316,
 '¿¡Revolución!?': 4450.166232583953}

In [334]:
resultados = {pelicula:round(sumWeightRating[pelicula]/weightSum[pelicula],2) for pelicula in sumWeightRating}
resultados

{'The Last Airbender': 4.78,
 'Eraserhead': 5.16,
 'Swept Away': 4.93,
 'Kick-Ass': 4.44,
 '12 Angry Men': 5.16,
 'Shaolin': 5.4,
 'July 14': 5.02,
 'Jaded': 4.78,
 'Citizen Kane': 4.82,
 'Aftermath': 5.2,
 'The Last Winter': 4.8,
 'The Haunted Castle': 4.69,
 'Monty Python’s Life of Brian': 4.57,
 "Monty Python's The Meaning of Life": 5.35,
 'Rio Rita': 4.95,
 'Brazil': 4.87,
 'The Ogre': 4.9,
 'Pay or Die': 4.79,
 'American Beauty': 4.66,
 'Inception': 5.18,
 'Gone with the Wind': 4.98,
 'The Man Between': 4.86,
 'Rough Night in Jericho': 5.35,
 'Alien Raiders': 5.2,
 'A Fantastic Fear of Everything': 5.14,
 "That's My Boy": 4.89,
 'Yor-yor': 4.73,
 'Cold Sweat': 4.79,
 'Red Sun': 4.83,
 'Domino': 4.73,
 'Be Like Others': 5.08,
 'Nothing like the Holidays': 5.35,
 'To Die like a Man': 4.91,
 'Dead like Me: Life After Death': 4.92,
 'Wolfhound': 5.1,
 'People Like Us': 5.06,
 'Deathdream': 5.21,
 'Rear Window': 5.08,
 'The Manchurian Candidate': 5.22,
 'We Live in Public': 4.92,
 'Dazed and Confused': 4.87,
 'Cleopatra': 4.75,
 'Wanted': 5.15,
 'Titanic': 4.58,
 '42nd Street': 5.15,
 'City Hall': 5.47,
 'Delirious': 5.16,
 'Mirageman': 4.6,
 'Race 2': 5.13,
 'Madigan': 5.6,
 "The Angels' Share": 4.78,
 'Matchstick Men': 4.71,
 'Carrie': 5.42,
 'Invasion of the Body Snatchers': 4.84,
 'Percy': 4.8,
 'Maximum Overdrive': 4.83,
 'Pirates of the Caribbean: The Curse of the Black Pearl': 5.2,
 'Plumíferos': 5.33,
 'Roadside Romeo': 5.07,
 'Scarface': 4.69,
 'Taxi Driver': 4.67,
 'Family Plot': 5.65,
 'Bloodbath at the House of Death': 4.79,
 'The Oranges': 4.41,
 'Saturday Night Fever': 4.96,
 'The Godfather': 5.02,
 'Marcellino': 4.86,
 'Akele Hum Akele Tum': 5.03,
 'V for Vendetta': 4.9,
 'Masters of the Universe': 4.7,
 'Places in the Heart': 5.04,
 'Mutiny on the Bounty': 4.62,
 'Two Weeks in Another Town': 4.93,
 "Hachi: A Dog's Tale": 4.54,
 'A Gang Story': 5.19,
 'Arsenic and Old Lace': 4.99,
 'Johnny Guitar': 4.92,
 'The Mortal Instruments: City of Bones': 4.36,
 'Barbara Frietchie': 5.09,
 'Endangered Species': 5.26,
 'Sex Is Comedy': 4.83,
 'Heading South': 4.94,
 'Three Seasons': 5.18,
 'Varudu': 4.89,
 'Stash House': 4.87,
 'The Intouchables': 5.23,
 'The Escort': 4.67,
 'Small Cuts': 5.08,
 'Fat Girl': 4.9,
 'The Pleasure Is All Mine': 5.23,
 'Anatomy of Hell': 5.23,
 'Planet of the Apes': 4.87,
 'Son of the Bride': 5.23,
 'The Upside of Anger': 4.57,
 'Tell No One': 5.01,
 'In the Cut': 5.11,
 'Mr. Deeds': 5.12,
 'Seven Psychopaths': 4.96,
 'Elisa, vida mía': 4.72,
 'Not Here to Be Loved': 4.89,
 'Argo': 4.85,
 'A Touch of Spice': 5.0,
 'Russian Ark': 4.81,
 "Pirates II: Stagnetti's Revenge": 4.97,
 'Gotcha!': 5.38,
 'Special Effects: Anything Can Happen': 5.01,
 '¿¡Revolución!?': 4.54}

In [335]:
rowUsuario

,Usuario,The Last Airbender,Eraserhead,Swept Away,Kick-Ass,12 Angry Men,Shaolin,July 14,Jaded,Citizen Kane,...,Seven Psychopaths,"Elisa, vida mía",Not Here to Be Loved,Argo,A Touch of Spice,Russian Ark,Pirates II: Stagnetti's Revenge,Gotcha!,Special Effects: Anything Can Happen,¿¡Revolución!?
1,Usuario1,10.0,NaN,0.0,6.0,NaN,5.0,7.0,NaN,2.0,...,8.0,10.0,1.0,5.0,NaN,1.0,2.0,NaN,NaN,NaN

In [343]:
rowUsuario["Eraserhead"].values[0]

nan

In [347]:
import math
peliculasNoCalificadas = []
for pelicula in rowUsuario.columns[1:]:
    if math.isnan(rowUsuario[pelicula].values[0]) :
        peliculasNoCalificadas.append(pelicula)

In [348]:
peliculasNoCalificadas

['Eraserhead',
 '12 Angry Men',
 'Jaded',
 'The Haunted Castle',
 'Monty Python’s Life of Brian',
 'Rio Rita',
 'Brazil',
 'Pay or Die',
 'Inception',
 'A Fantastic Fear of Everything',
 'Red Sun',
 'Domino',
 'Dead like Me: Life After Death',
 'Deathdream',
 'We Live in Public',
 'Dazed and Confused',
 'Titanic',
 '42nd Street',
 'City Hall',
 'Delirious',
 'Carrie',
 'Invasion of the Body Snatchers',
 'Percy',
 'Maximum Overdrive',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Plumíferos',
 'Scarface',
 'Taxi Driver',
 'Family Plot',
 'Saturday Night Fever',
 'Marcellino',
 'Akele Hum Akele Tum',
 "Hachi: A Dog's Tale",
 'Barbara Frietchie',
 'Sex Is Comedy',
 'Heading South',
 'Three Seasons',
 'Varudu',
 'Stash House',
 'The Intouchables',
 'Anatomy of Hell',
 'In the Cut',
 'A Touch of Spice',
 'Gotcha!',
 'Special Effects: Anything Can Happen',
 '¿¡Revolución!?']

In [349]:
diccionarioPeliculasNoCalificadas = {pelicula:resultados[pelicula] for pelicula in peliculasNoCalificadas}

In [350]:
diccionarioPeliculasNoCalificadas

{'Eraserhead': 5.16,
 '12 Angry Men': 5.16,
 'Jaded': 4.78,
 'The Haunted Castle': 4.69,
 'Monty Python’s Life of Brian': 4.57,
 'Rio Rita': 4.95,
 'Brazil': 4.87,
 'Pay or Die': 4.79,
 'Inception': 5.18,
 'A Fantastic Fear of Everything': 5.14,
 'Red Sun': 4.83,
 'Domino': 4.73,
 'Dead like Me: Life After Death': 4.92,
 'Deathdream': 5.21,
 'We Live in Public': 4.92,
 'Dazed and Confused': 4.87,
 'Titanic': 4.58,
 '42nd Street': 5.15,
 'City Hall': 5.47,
 'Delirious': 5.16,
 'Carrie': 5.42,
 'Invasion of the Body Snatchers': 4.84,
 'Percy': 4.8,
 'Maximum Overdrive': 4.83,
 'Pirates of the Caribbean: The Curse of the Black Pearl': 5.2,
 'Plumíferos': 5.33,
 'Scarface': 4.69,
 'Taxi Driver': 4.67,
 'Family Plot': 5.65,
 'Saturday Night Fever': 4.96,
 'Marcellino': 4.86,
 'Akele Hum Akele Tum': 5.03,
 "Hachi: A Dog's Tale": 4.54,
 'Barbara Frietchie': 5.09,
 'Sex Is Comedy': 4.83,
 'Heading South': 4.94,
 'Three Seasons': 5.18,
 'Varudu': 4.89,
 'Stash House': 4.87,
 'The Intouchables': 5.23,
 'Anatomy of Hell': 5.23,
 'In the Cut': 5.11,
 'A Touch of Spice': 5.0,
 'Gotcha!': 5.38,
 'Special Effects: Anything Can Happen': 5.01,
 '¿¡Revolución!?': 4.54}

In [356]:
ordenPeliculasNoCalificadas = {pelicula: score for pelicula, score in sorted(diccionarioPeliculasNoCalificadas.items(), key=lambda item: item[1],reverse=True)[:5]}
ordenPeliculasNoCalificadas

{'Family Plot': 5.65,
 'City Hall': 5.47,
 'Carrie': 5.42,
 'Gotcha!': 5.38,
 'Plumíferos': 5.33}

In [358]:
datasetResultado = pd.DataFrame({"Peliculas":[valor for valor in ordenPeliculasNoCalificadas],"Rating":[ordenPeliculasNoCalificadas[pelicula] for pelicula in ordenPeliculasNoCalificadas]})

In [359]:
datasetResultado

     Peliculas  Rating
0  Family Plot    5.65
1    City Hall    5.47
2       Carrie    5.42
3      Gotcha!    5.38
4   Plumíferos    5.33